body {
    background-color: lightgray;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.container {
    width: 590px;
}

.post-box{
    display: -webkit-box;
}

.post-box .post-letters{
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 50%;
}
.post-box .post-letters span{
    width: 100%;
}